<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> Mtaa </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="/post">Posts</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:black;text-decoration:none;color:white">
            <center>
              <a class="dropdown-item" href="#" style="color:white"> Business </a><br>
              <a class="dropdown-item" href="/neighbourhood" style="color:white"> Neighbourhood </a>
            </center>
          </div>
        </li>
        <li><a href="/admin">Dashboard</a></li>
        {% else %}
        <li></li>
        {%endif%}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="mvsearch">
          <div>
            <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
              <input class="form-control my-2 my-sm-0 search-input" name="search" type="search" placeholder="Search Business" aria-label="Search">
            </form>
          </div>
        </li>
        {% else %}
        <li></li>
        {%endif%}
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:black;text-decoration:none;color:white">
            <center>
              <a class="dropdown-item" href="/editprofile" style="color:white"> Edit Profile</a><br>
              <a class="dropdown-item" href="/profile" style="color:white"> View Profile</a>
            </center>
          </div>
        </li>
        <li><a href="/logout">Sign out</a></li>
        {% else %}
        <li><a href="/accounts/login">Sign in</a></li>
        {%endif%}

      </ul>
    </div>
  </div>
</div>
